#
# aGrUM clang-format specification (version clang-format-3.8)
# Pierre-Henri Wuillemin - september 2016
#
BasedOnStyle: LLVM

Standard: Cpp11
ColumnLimit: 83

MaxEmptyLinesToKeep: 2

IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never

AccessModifierOffset: 0
IndentCaseLabels: true
NamespaceIndentation: All

SpacesBeforeTrailingComments: 2

Cpp11BracedListStyle: true
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpaceInEmptyParentheses: false

AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializersBeforeComma: true
BreakBeforeBinaryOperators: false
SpacesInAngles: true
#clang-format-4.0
#BreakStringLiterals: true

PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignOperands: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
#for clang-format-3.9
AlignConsecutiveDeclarations: true

BinPackArguments: false
BinPackParameters: false

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

#clang-format-4.0
#SortIncludes: false
