---
Checks:          '*'
WarningsAsErrors: ''
HeaderFileExtensions:

- ''
- h
- hh
- hpp
- hxx
ImplementationFileExtensions:
- c
- cc
- cpp
- cxx
HeaderFilterRegex: '.*/agrum/.*'
ExcludeHeaderFilterRegex: '.*/agrum/base/external/.*'
FormatStyle:     none
CheckOptions:    {}
SystemHeaders:   false
...
