---

Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bug-prone-*,
  modernize-*,
  performance-*,
  readability-braces-around-statements,
  readability-identifier-naming,
  -modernize-use-trailing-return-type,

WarningsAsErrors: ''
HeaderFileExtensions:

- ''
- h
- hh
- hpp
- hxx
ImplementationFileExtensions:
- c
- cc
- cpp
- cxx
HeaderFilterRegex: '.*/agrum/.*'
ExcludeHeaderFilterRegex: '.*/agrum/base/external/.*'
FormatStyle:     none
CheckOptions:    {}
SystemHeaders:   false
...
