Pierre-Henri Wuillemin <pierre-henri.wuillemin@lip6.fr> phw <phw@fa2884e2-1fde-468d-ae8a-4cc2b5279982>
Pierre-Henri Wuillemin <pierre-henri.wuillemin@lip6.fr> Pierre-Henri Wuillemin$ <pierre-henri.wuillemin@lip6.fr>

Lionel Torti <lionel.torti@gmail.com> lionel <lionel@fa2884e2-1fde-468d-ae8a-4cc2b5279982>

Christophe Gonzales <christophe.gonzales@lip6.fr> Christophe Gonzales <Christophe.Gonzales@lip6.fr>
Christophe Gonzales <christophe.gonzales@lip6.fr> speedy <speedy@fa2884e2-1fde-468d-ae8a-4cc2b5279982>
Christophe Gonzales <christophe.gonzales@lip6.fr> Christophe Gonzales <gonzales@shalmaneser.(none)>

Vincent Renaudineau<vincent@fa2884e2-1fde-468d-ae8a-4cc2b5279982> vincent <vincent@fa2884e2-1fde-468d-ae8a-4cc2b5279982>

Jean-Christophe Magnan <jean-christophe.magnan@lip6.fr> jcm <jen-christophe.magnan@lip6.fr>
Jean-Christophe Magnan <jean-christophe.magnan@lip6.fr> jcm <jcm@fa2884e2-1fde-468d-ae8a-4cc2b5279982>

Matthieu Hourbracq <matthieu.hourbracq@gmail.com> mat <mat@mat-N56VZ.(none)>
Matthieu Hourbracq <matthieu.hourbracq@gmail.com> Matthieu HOURBRACQ <hourbracqm@poleia.lip6.fr>
Matthieu Hourbracq <matthieu.hourbracq@gmail.com> Matthieu Hourbracq <matthieu.hourbracq@akheros.com>

Jean-Philippe Dubus <dubus@fa2884e2-1fde-468d-ae8a-4cc2b5279982> dubus <dubus@fa2884e2-1fde-468d-ae8a-4cc2b5279982>

Julien Schueller <schueller@phimeca.com> schueller <schueller@phimeca.com>

Ariele Maesano <ariele@fa2884e2-1fde-468d-ae8a-4cc2b5279982> ariele <ariele@fa2884e2-1fde-468d-ae8a-4cc2b5279982>
