################################
nbformat
nbconvert
jupyter
scipy
scikit-learn
pandas
tqdm
################################
# generated : do not change it !
### Specific requirements for tests

################################
matplotlib
matplotlib-inline
pydot
numpy

#### optional requirements #####
nbformat
nbconvert
jupyter
scipy
scikit-learn
pandas
tqdm
################################
### Specific requirements for tests

