################################
ot
numpy

#### optional requirements #####
nbformat
nbconvert
jupyter
scipy
scikit-learn
pandas
tqdm
################################
################################
ot
numpy

### Specific requirements for tests

#### optional requirements #####
nbformat
nbconvert
jupyter
scipy
scikit-learn
pandas
tqdm
################################
### Specific requirements for tests

