################################
# generated : do not change it !
################################
matplotlib
#matplotlib-inline
pydotplus
numpy
configparser
six
#### optional requirements #####
nbformat
nbconvert
jupyter
scipy
scikit-learn
pandas
tqdm
################################
### Specific requirements for notebooks

