.wy-nav-content {
  max-width: 100% !important;
}
.sphx-glr-thumbcontainer {
  width: 200px;
  display: inline-flex;
  box-shadow: none;
  margin-bottom: 25px;
  background-color: #F8F8F8;
}
.sphx-glr-thumbcontainer p a span {
  margin-top: -25px;
  display: block;
}