################################
ot
numpy

#### optional requirements #####
# generated : do not change it !
################################
y
scikit-learn
pandas
tqdm
matplotlib
matplotlib-inline
pydot
numpy

################################
### Specific requirements for notebooks

#### optional requirements #####
nbformat
nbconvert
jupyter
scipy
scikit-learn
pandas
tqdm
################################
### Specific requirements for notebooks

