################################
# generated : do not change it !
################################
matplotlib
matplotlib_inline
pydotplus
numpy
configparser
six
#### optional requirements #####
nbformat
nbconvert
jupyter
scipy
scikit-learn
pandas
################################
### Specific requirements for sphinx
pyAgrum
sphinx
IPython
ipykernel
sphinx_rtd_theme
#sphinx-autodoc-typehints
