################################
# generated : do not change it !
################################
matplotlib
matplotlib-inline
pydot
numpy
scikit-learn>=1.7
#### optional requirements #####
nbformat
nbconvert
jupyter
scipy
pandas
tqdm
xgboost
cairosvg
seaborn
playwright
################################
### Specific requirements for binder
pyAgrum

